<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>

    <h1 class="text-center text-2xl mt-4">Sign Up</h1>

    <form action="/signup" method="POST" class="flex flex-col p-6">
        <div class="flex">
            <label>Email:</label>
            <input class="border-b w-full outline-none" type="email" name="email" required>
        </div>
        <div class="flex mt-3">           
            <label>Password:</label>
            <input class="border-b w-full outline-none" type="password" name="password" required>
        </div>

        <label>Role:</label>
        <select name="role">
            <option value="student" selected>Student</option>
            <option value="admin">Admin</option>
        </select>

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/login">Login</a></p>

</body>
</html>
